<div class="container">
  <div data-controller="form">
    <%= simple_form_for @recipe do |f|%>

      <div class="form-section-1" data-form-target="formSpace">
        <div class="form-space" id="first">
          <div class="form-inputs">
            <%= f.input :title, label: "Recipe name:" %>
            <a href="#desc" class="form-anchor" data-action="click->form#goToNextFormSpace" data-position="0">Next</a>
          </div>
        </div>
      </div>

      <div class="form-section" data-form-target="formSpace">
        <div class="form-space" id="desc">
          <div class="form-inputs">
            <%= f.input :description, label: 'Give us one or two sentences about your recipe!'%>
            <a href="#first" class="form-anchor" data-action="click->form#goToLastFormSpace" data-position="1">Back</a>
            <a href="#prep" class="form-anchor" data-action="click->form#goToNextFormSpace" data-position="1">Next</a>
          </div>
        </div>
      </div>

      <div class="form-section" data-form-target="formSpace">
        <div class="form-space" id="prep" >
          <div class="form-inputs">
            <%= f.input :prep_time, label: "Preparation time:"%>
            <a href="#desc" class="form-anchor" data-action="click->form#goToLastFormSpace" data-position="2">Back</a>
            <a href="#cooking" class="form-anchor" data-action="click->form#goToNextFormSpace" data-position="2">Next</a>
          </div>
        </div>
      </div>

      <div class="form-section" data-form-target="formSpace">
        <div class="form-space" id="cooking">
          <div class="form-inputs">
            <%= f.input :cooking_time, label: "Cooking time:"%>
            <a href="#prep" class="form-anchor" data-action="click->form#goToLastFormSpace" data-position="3">Back</a>
            <a href="#servings" class="form-anchor" data-action="click->form#goToNextFormSpace" data-position="3">Next</a>
          </div>
        </div>
      </div>

      <div class="form-section" data-form-target="formSpace">
        <div class="form-space" id="servings">
          <div class="form-inputs">
            <%= f.input :serving_size, label: "Serving size:"%>
            <a href="#cooking" class="form-anchor" data-action="click->form#goToLastFormSpace" data-position="4">Back</a>
            <a href="#ingredients" class="form-anchor" data-action="click->form#goToNextFormSpace" data-position="4">Next</a>
          </div>
        </div>
      </div>

      <div class="form-section" data-form-target="formSpace">
        <div class="form-space" id="ingredients">
          <div class="form-inputs" data-controller="input">
            <%= f.input :ingredients, label: "Write your ingredients below:", input_html: { name: 'recipe[ingredients][0]' }%>

            <i class="fa-solid fa-minus" data-input-target="less" data-action="click->input#lessIngr"></i>
            <i class="fa-solid fa-plus" data-input-target="more" data-action="click->input#moreIngr"></i>

            <br> <br>

            <a href="#servings" class="form-anchor" data-action="click->form#goToLastFormSpace" data-position="5">Back</a>
            <a href="#instructions" class="form-anchor" data-action="click->form#goToNextFormSpace" data-position="5">Next</a>

          </div>
        </div>
      </div>

      <div class="form-section" data-form-target="formSpace">
        <div class="form-space"id="instructions">
          <div class="form-inputs" id="instructions" data-controller="input">
            <%= f.input :instructions, label: "Preparation instructions:", input_html: { name: 'recipe[instructions][0]' }%>

            <i class="fa-solid fa-minus" data-input-target="less" data-action="click->input#lessInst"></i>
            <i class="fa-solid fa-plus" data-input-target="more" data-action="click->input#moreInst"></i>

            <br> <br>

            <a href="#ingredients" class="form-anchor" data-action="click->form#goToLastFormSpace" data-position="6">Back</a>
            <a href="#category" class="form-anchor" data-action="click->form#goToNextFormSpace" data-position="6">Next</a>

          </div>
        </div>
      </div>

      <div class="form-section" data-form-target="formSpace">
        <div class="form-space" id="category">
          <div class="form-inputs" data-controller="input">
            <%= f.input :categories, label: "Category:", input_html: { name: 'recipe[categories][0]' }%>

            <i class="fa-solid fa-minus" data-input-target="less" data-action="click->input#lessCat"></i>
            <i class="fa-solid fa-plus" data-input-target="more" data-action="click->input#moreCat"></i>

            <br> <br>

            <a href="#instructions" class="form-anchor" data-action="click->form#goToLastFormSpace" data-position="7">Back</a>
            <a href="#photo" class="form-anchor" data-action="click->form#goToNextFormSpace" data-position="7">Next</a>
          </div>
        </div>
      </div>

      <div class="form-section" data-form-target="formSpace">
        <div class="form-space" id="photo">
          <div class="form-inputs">
            <%= f.input :photo, as: :file, label: "Say 'cheese'! Share a photo of your recipe here:" %>
            <div class="form-action">
              <button class="form-anchor" data-action="click->form#goToLastFormSpace" data-position="8">Back</button>
              <%= f.submit "Create recipe", class: "btn btn-create" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
