<div data-controller="comments" data-comments-recipe-value=<%=@recipe.id%>>
  <h4 data-comments-target="intro">
      <% if @recipe.comments.length == 0 %>
        <%= "No comments yet!" %>
      <% else %>
        <%= "Comments" %>
      <% end %>
  </h4>
  <div data-comments-target="list">
    <% @recipe.comments.each do |comment| %>
      <li> <%= comment.user.first_name %> - <%= comment.content %></li>
    <% end %>
  </div>
  <div class="d-flex">
    <form data-comments-target="input">
      <input data-comments-target="field" type="text" name="input">
      <button data-action="click->comments#add">Submit</button>
    </form>
  </div>
</div>
