<div class="container container-bg-white">
  <div class="cookbook-card-container">
    <% user_recipes.each do |user_recipe| %>
    <% recipe = user_recipe.recipe %>
      <div class="cookbook-recipe-card">
        <%= link_to cookbook_recipe_path(user_recipe) do%>
          <h3><%= recipe.title %></h3>
        <% end %>
          <%= cl_image_tag recipe.photo.key, height: 100, width: 200, crop: :lfill if recipe.photo.attached? %>
          <p> Prep time: <%= recipe.prep_time %></p>
          <div class="container d-flex">
            <p class="btn-category"><%= user_recipe.recipe.categories[0]%></p>
          </div>
        </div>
      <% end %>
  </div>
</div>
<%# <%== pagy_nav(@pagy) %>
