<% if current_user.id == user.id %>
  <h1>My Cookbook - <%="#{user.first_name.capitalize} #{user.last_name.capitalize}"%></h1>
<% else %>
  <h1><%="#{user.first_name.capitalize} #{user.last_name.capitalize}"%>'s Cookbook</h1>
<% end %>

<% if current_user.id == user.id %>

  <% user_recipes.each do |user_recipe| %>
    <% recipe = user_recipe.recipe %>
    <div class="d-flex">
      <li> <%= link_to recipe.title, cookbook_recipe_path(user_recipe)%> </li>
        <%= render "shared/buttons/remove", recipe: recipe %>
      <% if !user_recipe.cooked  %>
        <%= simple_form_for(recipe, method: :patch, url:mark_as_cooked_path(recipe)) do |f| %>
          <%= f.submit "MARK AS COOKED"%>
        <% end %>
      <% end %>
    </div>
  <% end %>

<% else %>

  <% user_recipes.each do |user_recipe| %>
  <% recipe = user_recipe.recipe %>
  <% recipe_status = user_recipe.user_recipe_status(recipe, current_user) %>
    <div class="d-flex">
      <li> <%= link_to recipe.title, cookbook_recipe_path(user_recipe)%> </li>
      <% if truevalue %>

      <% end %>
      <%= simple_form_for(recipe, method: :patch, url:mark_as_cooked_path(recipe)) do |f| %>
          <%= f.submit "MARK AS COOKED"%>
      <% end %>
    </div>
  <% end %>

<% end %>
