<% if request.path == "/" && !user_signed_in?%>
  <div class="homepage-banner">
    <%= render 'shared/avatar' %>

    <h1>WHAT'S FOR DINNER?</h1>
    <p>The app allowing foodies to get inspired by what their network is cooking.</p>

    <div class="btn btn-primary btn-search">
      <%= link_to "SEARCH", search_path%>
    </div>
  </div>
<% end %>

<% if request.path == "/" && user_signed_in? %>
  <div class="banner-my-cookbook">
    <h1>MY NEWSFEED</h1>
    <%= render 'shared/avatar' %>
  </div>
<% elsif request.path == "/my-cookbook" %>
  <div class="banner-my-cookbook">
    <h1>MY COOKBOOK</h1>
    <%= render 'shared/avatar' %>
  </div>
<% elsif request.path == "/my-wishlist" %>
  <div class="banner-my-cookbook">
    <h1>MY WISHLIST</h1>
    <%= render 'shared/avatar' %>
  </div>
<% elsif request.path == "/my-cookbook/top-10" %>
  <div class="banner-my-cookbook">
    <h1>MY TOP 10 RECIPES</h1>
    <%= render 'shared/avatar' %>
  </div>
<% elsif request.path == "/my-cookbook/history" %>
  <div class="banner-my-cookbook">
    <h1>MY COOKING HISTORY</h1>
    <%= render 'shared/avatar' %>
  </div>
<% elsif request.path == "/recipes/new" %>
  <div class="banner-my-cookbook">
    <h1>ADD A RECIPE</h1>
    <%= render 'shared/avatar' %>
  </div>
<% elsif request.path.starts_with?("/cookbooks/users/") %>
  <div class="banner-user">
    <% user = User.find(request.path.scan(/\d/).join('')) %>
    <h1><%= "#{user.first_name.capitalize} #{user.last_name.capitalize}'s Cookbook" %></h1>
    <%= render 'shared/avatar' %>
  </div>
<% elsif request.path == "/search" %>
  <div class="banner-search">
    <h1>SEARCH</h1>
    <%= render 'shared/avatar' %>
  </div>
<% elsif request.path == "/my-profile" %>
  <div class="banner-profile">
    <h1>MY PROFILE</h1>
  </div>
<% elsif request.path == "/following" %>
  <div class="banner-profile">
    <h1>PEOPLE YOU FOLLOW</h1>
  </div>
<% end %>
