<% if request.path == "/" %>
  <div class="homepage-banner">
    <%= render 'shared/avatar' %>

    <h1>WHAT'S FOR DINNER?</h1>
    <p>The app allowing foodies to get inspired by what their network is cooking.</p>

    <div class="btn btn-primary btn-search">
      <%= link_to "SEARCH", search_path%>
    </div>
  </div>
<% end %>

<% if request.path == "/my-cookbook" %>
  <div class="banner">
    <h1>MY COOKBOOK</h1>
    <%= render 'shared/avatar' %>
  </div>
<% elsif request.path == "/my-wishlist" %>
  <div class="banner">
    <h1>MY WISHLIST</h1>
    <%= render 'shared/avatar' %>
  </div>
<% elsif request.path == "/my-cookbook/top-10" %>
  <div class="banner">
    <h1>MY TOP 10 RECIPES</h1>
    <%= render 'shared/avatar' %>
  </div>
<% elsif request.path == "/my-cookbook/history" %>
  <div class="banner">
    <h1>MY COOKING HISTORY</h1>
    <%= render 'shared/avatar' %>
  </div>
<% elsif request.path == "/recipes/new" %>
  <div class="banner">
    <h1>CREATE A RECIPE!</h1>
    <%= render 'shared/avatar' %>
  </div>
<% elsif request.path.starts_with?("/cookbooks/users/") %>
  <div class="banner">
    <% user = User.find(request.path.split('/').last) %>
    <h1><%= "#{user.first_name.capitalize} #{user.last_name.capitalize}'s Cookbook" %></h1>
    <%= render 'shared/avatar' %>
  </div>
<% elsif request.path == "/search" %>
  <div class="banner">
    <h1>Search</h1>
    <%= render 'shared/avatar' %>
  </div>
<% end %>
