<div class="modal fade" id="modal-<%= @recipe.id %>" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered dflex justify-content-center" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle"><%= @recipe.title %></h5>
        <%= cl_image_tag(@recipe.photo.key, class: "modal-recipe-image") %>

        <div class="back-button-banner-right" data-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </div>

      </div>
      <div class="modal-body">
        <p><%= @recipe.description[0, 50] %></p>
      </div>
      <div class="modal-footer d-flex justify-content-center align-items-end">
        <a class="btn btn-wishlist" href="/cookbook/<%= user_recipe.id %>">SHOW MORE</a>
      </div>
    </div>
  </div>
</div>
