<div class="navbar">
  <div class="inline">
    <ul class="inline">
      <li><%= link_to "Home", root_path, :class => current_class?(root_path)%></li>
      <li><%= link_to "Cookbook", my_cookbook_path, :class => current_class?(my_cookbook_path)%></li>
      <li><%= link_to "Wishlist", my_wishlist_path, :class => current_class?(my_wishlist_path)%></li>
      <li><%= link_to "Chat", root_path, :class => current_class?(root_path)%></li>
      <li><%= link_to "Search", root_path, :class => current_class?(root_path)%></li>
    </ul>
  </div>
</div>
