<% if @feed_items.length > 0 %>
  <div class="container container-bg-white">
    <div class="cookbook-card-container">

      <% @feed_items.each_with_index do |item, index| %>
        <% user_recipe= UserRecipe.find(item.user_recipe_id)%>
        <% recipe= Recipe.find(user_recipe.recipe_id)%>
        <% recipe_owner= User.find(recipe.user_id)%>
        <% user= User.find(item.user_id)%>
        <div class="newsfeed-recipe-card">

          <%# COMMENTS %>
          <% if item.item_type == "commented" %>
            <div class="container mb-3 d-flex newsfeed-item-center">
              <%# Avatar %>
              <%= link_to cl_image_tag(user.photo.key, class: "avatar"), user_cookbook_path(user) %>
              <%#= cl_image_tag(user.photo.key, class: "avatar") %>
              <%= link_to "#{user.first_name}  #{user.last_name}", user_cookbook_path(user), :class => "newsfeed-user" %>
            </div>
            <div class="container">
              <%# Recipe Image %>
              <%#= link_to cl_image_tag(recipe.photo.key, class: "newsfeed-recipe-image"), feed_recipe_path(user_recipe) %>
            </div>
            <div class=" m-3 newsfeed-content">
              <%# Feed %>
              <%= "#{user.first_name} left a comment on #{recipe_owner.first_name}'s recipe: "%> <strong><%= link_to recipe.title, feed_recipe_path(user_recipe) %></strong>
            </div>
          <% end %>

          <%# WISHLIST %>
          <% if item.item_type == "wishlisted" %>
          <div class="container mb-3 d-flex newsfeed-item-center">
            <%# Avatar %>
            <%= link_to cl_image_tag(user.photo.key, class: "avatar"), user_cookbook_path(user) %>
            <%#= cl_image_tag(user.photo.key, class: "avatar") %>
            <%= link_to "#{user.first_name}  #{user.last_name}", user_cookbook_path(user), :class => "newsfeed-user" %>
          </div>
          <div class="container">
            <%# Recipe Image %>
            <%#= link_to cl_image_tag(recipe.photo.key, class: "newsfeed-recipe-image"), feed_recipe_path(user_recipe) %>
          </div>
          <div class=" m-3">
            <%# Feed %>
            <%= "#{user.first_name} added #{recipe_owner.first_name}'s recipe to their wishlist:" %> <strong><%=link_to recipe.title, feed_recipe_path(user_recipe)%></strong>
          </div>
        <% end %>


          <%# ADDED %>
          <% if item.item_type == "added" %>
            <div class="container mb-3 d-flex newsfeed-item-center">
              <%# Avatar %>
              <%= link_to cl_image_tag(user.photo.key, class: "avatar"), user_cookbook_path(user) %>
              <%#= cl_image_tag(user.photo.key, class: "avatar") %>
              <%= link_to "#{user.first_name}  #{user.last_name}", user_cookbook_path(user), :class => "newsfeed-user" %>
            </div>
            <div class="container">
              <%# Recipe Image %>
              <%= link_to cl_image_tag(recipe.photo.key, class: "newsfeed-recipe-image"), feed_recipe_path(user_recipe) %>
            </div>
            <div class=" m-3">
              <%# Feed %>
              <%= "#{user.first_name} added #{recipe_owner.first_name}'s recipe to their cookbook:" %> <strong><%=link_to recipe.title, feed_recipe_path(user_recipe)%></strong>
            </div>
          <% end %>


          <%# COOKED %>
          <% if item.item_type == "cooked" %>
              <div class="container mb-3 d-flex newsfeed-item-center">
                <%# Avatar %>
                <%= link_to cl_image_tag(user.photo.key, class: "avatar"), user_cookbook_path(user) %>
                <%#= cl_image_tag(user.photo.key, class: "avatar") %>
                <%= link_to "#{user.first_name}  #{user.last_name}", user_cookbook_path(user), :class => "newsfeed-user" %>
              </div>
              <div class="container">
                <%# Recipe Image %>
                <%#= link_to cl_image_tag(recipe.photo.key, class: "newsfeed-recipe-image"), feed_recipe_path(user_recipe) %>
              </div>
              <div class=" m-3">
                <%# Feed %>
                <%= "#{user.first_name} cooked #{recipe_owner.first_name}'s recipe:" %> <strong><%=link_to recipe.title, feed_recipe_path(user_recipe)%></strong>
            </div>
          <% end %>


          <div class="newsfeed-divider"></div>
          <div class="d-flex justify-content-end newsfeed-minutes-ago">
            <%= index * 4 + 2 %> minutes ago
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <%= render "shared/no_content", excuse: "No posts in your newsfeed yet" %>
<% end %>
