<div class="container mb-2">
  <div class="row justify-content-center container-bg-white">
    <div class="col-4">
      <% if request.path == "/my-cookbook" %>
        <h1 class="btn-top-10"><%= link_to "All recipes", my_cookbook_path %> </h1>
      <% else %>
        <h1 class="btn-top-10-inactive"><%= link_to "All recipes", my_cookbook_path %> </h1>
      <% end %>
    </div>

    <div class="col-4">
      <% if request.path == "/my-cookbook/top-ten" %>
        <h1 class="btn-top-10"><%=link_to "Top ten", my_top_ten_path%> </h1>
      <% else %>
        <h1 class="btn-top-10-inactive"><%=link_to "Top ten", my_top_ten_path%> </h1>
      <% end %>
    </div>

    <div class="col-4">
    <% if request.path == "/my-cookbook/history" %>
      <h1 class="btn-top-10"><%=link_to "History", my_cookbook_history_path%></h1>
    <% else %>
      <h1 class="btn-top-10-inactive"><%=link_to "History", my_cookbook_history_path%></h1>
    <% end %>
    </div>
  </div>
</div>
