<div class="container mb-2">
  <div class="row justify-content-center container-bg-white a-top">
    <div class="col-4">
      <% if request.path == "/my-cookbook" %>
        <%= link_to my_cookbook_path do %>
          <h1 class="btn-top-10">All recipes</h1>
        <% end %>
      <% else %>
        <%= link_to my_cookbook_path do %>
          <h1 class="btn-top-10-inactive">All recipes</h1>
        <% end %>
      <% end %>
    </div>

    <div class="col-4">
      <% if request.path == "/my-cookbook/top-ten" %>
        <%=link_to my_top_ten_path do %>
          <h1 class="btn-top-10">Top ten</h1>
        <% end %>
      <% else %>
        <%=link_to my_top_ten_path do %>
          <h1 class="btn-top-10-inactive">Top ten</h1>
        <% end %>
      <% end %>
    </div>

    <div class="col-4">
    <% if request.path == "/my-cookbook/history" %>
      <%=link_to my_cookbook_history_path do %>
        <h1 class="btn-top-10">History</h1>
      <% end %>
    <% else %>
      <%=link_to my_cookbook_history_path do %>
        <h1 class="btn-top-10-inactive">History</h1>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
