<%= render "shared/buttons/create-topten-history" %>
<% if @cooking_history.length > 0 %>

<%# Cards start here %>


<div class="container">

  <% @cooking_history.each do |user_recipe| %>
    <div class="container cookbook-history-card">
      <div class="d-flex justify-content-around my-2 recipe-title">
        <%= link_to cookbook_recipe_path(user_recipe) do%>
          <%= user_recipe.recipe.title %>
        <% end %>
      </div>

      <div class="container d-flex">

        <div>
          <%= cl_image_tag user_recipe.recipe.photo.key, height: 125, width: 125, crop: :lfill  %>
        </div>

      <div class="container padding-right-0">
          <div>
            <%= user_recipe.recipe.description[0, 50] %>... <%= link_to "See\u00A0more", "/", class:"sml-a-tag" %>
          </div>

          <div class="container d-flex p-0">
            <p class="btn-category mx-0"><%= user_recipe.recipe.category %></p>
          </div>
        </div>
      </div>
    </div>
    <p></p>
  <% end %>

</div>




<% else %>
  <div class="container text-center py-3">
    <p>We're sorry, you haven't cooked anything yet!</p>
    <br>
    <%= image_tag "cooking.svg", class: "empty-history-img" %>
  </div>
<% end %>
