<%= render "shared/buttons/create-topten-history" %>
<% if @cooking_history.length > 0 %>

<%# Cards start here %>

<div class="container">
  <% @cooking_history.each do |user_recipe| %>
    <div class="cookbook-history-card">
      <%# <div class="d-flex justify-content-around my-2 recipe-title"> %>
        <%= link_to cookbook_recipe_path(user_recipe) do%>
          <h3 style="font-weight:bold; margin:10px"><%= user_recipe.recipe.title %></h3>
          <div class="container d-flex">
            <div>
              <%= cl_image_tag user_recipe.recipe.photo.key, height: 125, width: 125, crop: :lfill  %>
            </div>
          <div class="container padding-right-0">
              <div>
                <p>
                  <%= user_recipe.recipe.description[0, 50] %>... <%= link_to "See\u00A0more", "/", class:"sml-a-tag" %>
                </p>
                <p>
                  <strong>Cooked on : <%= user_recipe.date_cooked_formated %></strong>
                </p>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <p></p>
  <% end %>
</div>

<% else %>
  <%= render "shared/no_content", excuse: "you haven't cooked anything yet" %>
<% end %>
