
<div class="recipe-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(@recipe.photo.key) %>)">
  <%= render "shared/buttons/back_button", back: user_cookbook_path(@cookbook_user) %>
  <h1><%= @recipe.title.upcase %></h1>
  <% @recipe.categories.each do |cat| %>
    <div class="btn-category"><%= cat %></div>
  <% end %>
</div>

<div class="container">
  <div class="recipe-head d-flex flex-row-reverse justify-content-between", style="margin-top: 5px;">
    <% if @current_user.id == @cookbook_user.id %>
      <%= render "shared/upvotes", recipe: @recipe %>
      <p>Created by: <%= link_to "#{@recipe_author.first_name} #{@recipe_author.last_name}", user_cookbook_path(@recipe_author) %></p>
    <% elsif @current_user.id ==  @cookbook_user.id && @recipe_author.id == @current_user.id %>
      <p>Created by: you!</p>
      <%= render "shared/upvotes", recipe: @recipe %>
    <% else %>
      <%= render "shared/upvotes", recipe: @recipe %>
      <p><strong>Created by:</strong> <%= link_to "#{@recipe_author.first_name} #{@recipe_author.last_name}", user_cookbook_path(@recipe_author) %></p>
    <% end %>
  </div>

  <div class="recipe-buttons", style="padding: 20px 0 10px;">
    <% if @current_user.id == @cookbook_user.id %>
      <%= render "shared/buttons/remove", recipe: @recipe %>
      <%= render "shared/buttons/mark_cooked", recipe: @recipe if !@user_recipe.cooked %>
    <% else %>
      <% recipe_status = @user_recipe.user_recipe_status(@recipe, current_user) %>
      <% if recipe_status == "cooked" || recipe_status == "cookbooked" %>
        <%= render "shared/buttons/cooked", recipe: @recipe, user: current_user %>
      <% elsif recipe_status == "wishlisted" %>
        <%= render "shared/buttons/cooked", recipe: @recipe, user: current_user %>
      <% else %>
        <%= render "shared/buttons/add_to_cookbook", recipe: @recipe, user: current_user %>
        <%= render "shared/buttons/wishlist", recipe: @recipe, user: current_user %>
      <% end %>
    <% end %>
  </div>
  <hr>

  <div class="main text">
    <h5 class="recipe-title">General information</h5>

    <div class="recipe-info d-flex justify-content-around">
      <div class="recipe-prep">
        <%= image_tag "chef_icon.svg", class: "recipe-icon" %> <%= @recipe.prep_time %>
      </div>
      <div class="recipe-cooking">
        <%= image_tag "pot-svgrepo-com.svg", class: "recipe-icon" %> 15 min
      </div>
      <div class="recipe-servings">
        <%= image_tag "utensils_icon.svg", class: "recipe-icon" %>   <%= @recipe.serving_size %>
      </div>
    </div>

    <hr class="recipe-hr">

    <h5 class="recipe-title">Description</h5>
    <p><%= @recipe.description %></p>

    <hr class="recipe-hr">

    <h5 class="recipe-title">Ingredients</h5>

    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
        <li> <%= ingredient %> </li>
      <% end %>
    </ul>

    <hr class="recipe-hr">

    <h5 class="recipe-title">Instructions</h5>
      <% @recipe.instructions.each do |instruction| %>
        <li> <%= instruction %> </li>
      <% end %>
  </div>

  <hr class="recipe-hr">

  <% if @current_user.id == @cookbook_user.id %>
    <%# no one has notes on their own recipe. %>
    <h5 class="recipe-title ">Your notes on this recipe:<%= @user_recipe.user_comment %></h5>
    <hr class="recipe-hr">
  <% elsif @current_user.id ==  @cookbook_user.id && @recipe_author.id == @current_user.id %>
    <h4 class="recipe-title">Your notes on this recipe:</strong> <%= @user_recipe.user_comment %></h4>
    <hr class="recipe-hr">
  <% else %>
    <%# do we need this? Notes are private. %>
    <h4 class="recipe-title"><%= @cookbook_user.first_name%>'s notes on the recipe:<%= @user_recipe.user_comment %></h4>
    <hr class="recipe-hr">
  <% end %>

  <div data-controller="hide"  >
    <div data-hide-target="view" data-action="click->hide#show">
      <div class="d-flex justify-content-center mb-3" >
        <a class="btn-top-10">View <%= @recipe.comments.count%> comment</a>
      </div>
    </div>
    <div style="display:none" data-hide-target="hide" data-action="click->hide#hide" >
      <div class="d-flex justify-content-center mb-3" >
        <a class="btn-top-10">Hide comments</a>
      </div>
    </div>
    <div style="display:none" data-hide-target="comments">
      <div class="main text">
        <%= render "shared/comments", user_recipe: @user_recipe %>
      </div>
    </div>
</div>
