
<div class="recipe-banner">
  <h1><%= @recipe.title %></h1>
  <%= cl_image_tag @recipe.photo.key, height: 375, width: 375, crop: :lfill %>
</div>

<div class="container">
  <div class="recipe-head">
    <% if @current_user.id == @cookbook_user.id %>
      <p>Created by: <%= link_to "#{@recipe_author.first_name} #{@recipe_author.last_name}", user_cookbook_path(@recipe_author) %></p>
      <p>Member since: #TO-DO: add user timestamp to page</p>
      <p>Recipes created: #TO-DO: add recipes created.count using where keyword</p>
      <%= render "shared/upvotes", recipe: @recipe %>
    <% elsif @current_user.id ==  @cookbook_user.id && @recipe_author.id == @current_user.id %>
      <p>Created by: you!</p>
      <%= render "shared/upvotes", recipe: @recipe %>
    <% else %>
      <%= render "shared/upvotes", recipe: @recipe %>
      <p><strong>Created by:</strong> <%= link_to "#{@recipe_author.first_name} #{@recipe_author.last_name}", user_cookbook_path(@recipe_author) %></p>
    <% end %>
  </div>

  <div class="recipe-buttons">
    <% if @current_user.id == @cookbook_user.id %>
      <%= render "shared/buttons/remove", recipe: @recipe %>
      <%= render "shared/buttons/mark_cooked", recipe: @recipe if !@user_recipe.cooked %>
    <% else %>
      <% recipe_status = @user_recipe.user_recipe_status(@recipe, current_user) %>
      <% if recipe_status == "cooked" || recipe_status == "cookbooked" %>
        <%= render "shared/buttons/cooked", recipe: @recipe, user: current_user %>
      <% elsif recipe_status == "wishlisted" %>
        <%= render "shared/buttons/cooked", recipe: @recipe, user: current_user %>
      <% else %>
        <%= render "shared/buttons/add_to_cookbook", recipe: @recipe, user: current_user %>
        <%= render "shared/buttons/wishlist", recipe: @recipe, user: current_user %>
      <% end %>
    <% end %>
  </div>
  <hr>

  <div class="main text">
    <h5 class="recipe-title">General information</h5>
    <p>Prep time: <%= @recipe.prep_time %></p>
    <p>cooking time</p>
    <p>servings</p>
    <br>
    <p>category: <%= @recipe.category %></p>

    <hr class="recipe-hr">

    <h5 class="recipe-title">Description</h5>
    <p><%= @recipe.description %></p>

    <hr class="recipe-hr">

    <h5 class="recipe-title">Ingredients</h5>
    <p><%= @recipe.ingredients %></p>

    <hr class="recipe-hr">

    <h5 class="recipe-title">Instructions</h5>
    <p><%= @recipe.instructions %></p>
  </div>
</div>

<hr class="recipe-hr">

<div class="container">
  <% if @current_user.id == @cookbook_user.id %>
    <h4>Your comment on the recipe:</strong> <%= @user_recipe.user_comment %></h4>
    <%= render "shared/comments", recipe: @recipe %>
  <% elsif @current_user.id ==  @cookbook_user.id && @recipe_author.id == @current_user.id %>
    <h4>Your comment on the recipe:</strong> <%= @user_recipe.user_comment %></h4>
    <%= render "shared/comments", recipe: @recipe %>
  <% else %>
    <h4><strong><%= @cookbook_user.first_name%> comment on :</strong> <%= @user_recipe.user_comment %></h4>
    <%= render "shared/comments", recipe: @recipe %>
  <% end %>
</div>
