<%= render "shared/buttons/create-topten-history" %>

<% if @top_recipes.length > 0 %>
  <div class="container container-bg-white">
    <div class="cookbook-card-container">
      <% i=0 %>
      <% @top_recipes.each do |recipe| %>
        <% user_recipe = UserRecipe.where(user_id: current_user.id, recipe_id: recipe.id).first %>
        <% if user_recipe %>
          <div class="cookbook-recipe-card">
            <div class="d-flex p-2 ">
              <p><strong><%= i + 1 %>. <%= link_to recipe.title, cookbook_recipe_path(user_recipe) %></strong></p>
              <p><strong>&nbsp- <%=recipe.upvotes_tracker %></strong></p> <i class="fa-solid fa-heart" style="color: #2B9348"></i>
            </div>

            <%= cl_image_tag recipe.photo.key, height: 100, width: 200, crop: :lfill, class: "newsfeed-recipe-image" %>

            <div class="recipe-card-info d-flex justify-content-around">
              <div class="recipe-prep">
                <%= image_tag "chef_icon.svg", class: "recipe-icon" %> 10 min
              </div>
              <div class="recipe-cooking">
                <%= image_tag "pot-svgrepo-com.svg", class: "recipe-icon" %> 15 min
              </div>
              <div class="recipe-servings">
                <%= image_tag "utensils_icon.svg", class: "recipe-icon" %>  4
              </div>
            </div>

            <div class="container d-flex">
              <% user_recipe.recipe.categories.each do |cat| %>
              <div class="btn-category">
                <%= cat %>
              </div>
              <% end %>
            </div>
          </div>
        <% i+=1 %>
        <% end %>
      <% end %>

      <% if i==0 %>
        <%= render "shared/no_content", excuse: "no recipes in the top ten, wait for upvotes" %>
      <% end %>
    </div>
  </div>
<% else %>
  <%= render "shared/no_content", excuse: "no recipes in the top ten, wait for upvotes" %>
<% end %>
